<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anshulvyas.csc780.grocerymanagr" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--Splash Screen -->
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Home Screen-->
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name">
        </activity>

        <!--Add Item Screen-->
        <activity
            android:name=".AddItemActivity"
            android:label="@string/add_item">
        </activity>

        <!--Add Item to Shopping Cart Screen-->
        <activity android:name=".ShoppingItemActivity"
            android:label="@string/cart_item"/>

        <!-- Content Provider -->
        <provider
            android:authorities="com.anshulvyas.csc780.grocerymanagr.cartprovider"
            android:name=".AppDatabase.CartProvider"
            android:exported="false"/>
    </application>

</manifest>
